<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://potrosdb.cozfnk7n3gdc.us-west-2.rds.amazonaws.com/potroDB</property>
        <property name="hibernate.connection.username">potrosMaster</property>
        <property name="hibernate.connection.password">potrosPass</property>
   <!-- Si usan base local descomenten el codigo de abajo y comenten el de arriba -->
   <!-- <property name="hibernate.connection.url">jdbc:mysql://localhost/potroDB</property>
        <property name="hibernate.connection.username">localUserName</property>
        <property name="hibernate.connection.password">localPassword</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="ElementoConId.hbm.xml"/> 
    <mapping resource="Usuario.hbm.xml"/>
    <mapping resource="Articulo.hbm.xml"/>
    <mapping resource="Departamento.hbm.xml"/>
    <mapping resource="Compra.hbm.xml"/>
    <mapping resource="RenglonCarrito.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
